body{
    padding: 0;
    margin: 0 ;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    background-image:url(./images/background.png);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    background-color: aqua;
    border-radius: 50px;
}
.resultcheck{
    margin-left: 50px;
}

.resultbackground{
    background-color: aqua;
    border-radius: 50px;
}
.invisible{
    display: none;
}